
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg: #cccbc9;
  --paper: #f8f3e1;
  --ink: #111111;
  --accent: #ebbeca;
}

html,
body {
  background: var(--bg);
  color: var(--ink);
  scroll-behavior: smooth;
}

/* paper card */
/* animated gradient for paper blocks */
.paper {
  border-radius: 24px;
  padding: 48px;
  background: linear-gradient(
    120deg,
    rgba(238, 217, 233, 0.575),
    rgba(238, 228, 218, 0.9),
    rgba(192, 220, 231, 0.795)
  );
  background-size: 300% 300%;
  animation: paperGradient 9s ease infinite;

  backdrop-filter: blur(8px);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.12),
    inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}

@keyframes paperGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* handwritten accent */
.hand {
  font-family: "Comic Sans MS", "Bradley Hand", cursive;
}

/* button */
.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn span {
  display: inline-block;
  background: var(--accent);
  padding: 14px 32px;
  border-radius: 14px;
  font-weight: 500;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  box-shadow: 0 6px 0 rgb(73, 71, 71);
}

/* hover — лёгкий подъём */
.btn:hover span {
  transform: translateY(-2px);
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.35);
}

/* active — НАЖАТИЕ */
.btn:active span {
  transform: translateY(3px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: translate(4px, 4px);
  border-radius: 14px;
}

.btn span {
  position: relative;
  display: block;
  background: var(--accent);
  padding: 14px 32px;
  border-radius: 14px;
  font-weight: 500;
}

/* blobs */
.blob {
  position: absolute;
  filter: blur(120px);
  opacity: 0.35;
  pointer-events: none;
}

.blob.pink {
  background: #d46c6c;
}

.blob.one {
  width: 320px;
  height: 320px;
  top: 20%;
  left: 10%;
}

.blob.two {
  width: 280px;
  height: 280px;
  bottom: 10%;
  right: 15%;
}
/* responsive tweaks */
@media (max-width: 768px) {
  .paper {
    padding: 28px;
  }

  h1 {
    font-size: 48px !important;
  }

  h2 {
    font-size: 28px !important;
  }
}
